<app-breadcrumb titulo="Usuarios" [menu]="menu"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Usuarios</h4>
            <button class="btn btn-dark" (click)="openUser(contentUser)">Crear nuevo Usuario</button>
            <div class="form-group col-md-6 m-t-20" style="display: inline-flex;float:right">
                <input type="text" class="form-control mr-2" name="filterName" placeholder="Buscar por nombres..."
                 [(ngModel)]="filterName"><button class="btn btn-outline btn-small" (click)="textSearch()">Buscar</button>
            </div>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Tipo de Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i=index">
                            <th scope="row ">{{ i+1 }}</th>
                            <td>{{user.dni}}</td>
                            <td>{{user.nombres}}</td>
                            <td>
                               <span class="badge badge-info" *ngIf="user.tipo.id_tipo === 1">{{user.tipo.nombres}}</span> 
                               <span class="badge badge-secondary ml-2" *ngIf="user.tipo.id_tipo === 1 && user.parentesco !== 'SOCIO'">{{user.parentesco}}</span> 
                               <span class="badge badge-success ml-2" *ngIf="user.tipo.id_tipo === 1">{{user.socio_status}}</span> 
                               <span class="badge badge-warning" *ngIf="user.tipo.id_tipo === 2">{{user.tipo.nombres}}</span> 
                               <span class="badge badge-danger" *ngIf="user.tipo.id_tipo >= 3">{{user.tipo.nombres}}</span>
                            </td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Editar" (click)="openUser(contentUser, user)"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <!-- <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(user.id_usuario)"> <i class="fa fa-trash text-danger m-r-10"></i> </a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="users.length >= 50 && !loading && moreData" class="d-flex justify-content-center">
                    <button class="btn btn-info mr-2" (click)="nextPageUser()">Ver más Registros</button>
                </div>
                <div *ngIf="loading" class="d-flex justify-content-center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
            </div>
        </div>
    </div>
    <ng-template #contentUser let-modal>
        <div class="modal-header">
            <h4 *ngIf="!user.edit" class="modal-title" id="modal-basic-title">Crear nuevo Usuario</h4>
            <h4 *ngIf="user.edit" class="modal-title" id="modal-basic-title">Editar nuevo Usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="gestionUser()" #form="ngForm">
            <div class="form-group d-flex justify-content-center mt-2" *ngIf="user.imagen">
                <div class="image-preview">
                    <img class="img-fluid" [src]="user.imagen" height="500" />
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombres Completos</label>
                    <input [value]="user.nombres" [(ngModel)]="user.nombres" name="nombres" class="form-control" type="text" required placeholder="Ingrese el nombre">
                </div>
                <div class="form-group">
                    <label>Identificación</label>
                    <input [value]="user.dni" [(ngModel)]="user.dni" name="dni" class="form-control" type="text" required placeholder="Ingrese su DNI">
                </div>
                <div class="form-group">
                    <label>Tipo de Usuario a asignar</label>
                    <select name="id_tipo" [(ngModel)]="user.id_tipo" class="form-control custom-select">
                        <option *ngFor="let tip of tipos" [value]="tip.id_tipo">{{ tip.nombres }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!user.edit">Guardar</span>
                    <span *ngIf="user.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>
</div>
